.head-cover {
  position: relative;
  background: none;
  background-color: pink;
  min-height: 80vh;
}

.head-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.head-container h1 {
  font-style: italic;
  font-weight: bold;
  font-size: xx-large;
}

.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "cake1 cake1 cake1 cake1 cake1 . cake2 cake2 cake2 cake2 cake2 cake2"
    "cake1 cake1 cake1 cake1 cake1 . cake2 cake2 cake2 cake2 cake2 cake2"
    "cake1 cake1 cake1 cake1 cake1 . cake2 cake2 cake2 cake2 cake2 cake2"
    "cake1 cake1 cake1 cake1 cake1 . cake2 cake2 cake2 cake2 cake2 cake2"
    "cake1 cake1 cake1 cake1 cake1 . cake2 cake2 cake2 cake2 cake2 cake2"
    ". . . . .                     . cake2 cake2 cake2 cake2 cake2 cake2"
    "cake3 cake3 cake3 cake3 cake3 . cake2 cake2 cake2 cake2 cake2 cake2"
    "cake3 cake3 cake3 cake3 cake3 . cake2 cake2 cake2 cake2 cake2 cake2"
    "cake3 cake3 cake3 cake3 cake3 . cake2 cake2 cake2 cake2 cake2 cake2"
    "cake3 cake3 cake3 cake3 cake3 . . . . . . ."
    "cake3 cake3 cake3 cake3 cake3 . cake4 cake4 cake4 cake4 cake4 cake4"
    "cake3 cake3 cake3 cake3 cake3 . cake4 cake4 cake4 cake4 cake4 cake4"
    "cake3 cake3 cake3 cake3 cake3 . cake4 cake4 cake4 cake4 cake4 cake4"
    "cake3 cake3 cake3 cake3 cake3 . cake4 cake4 cake4 cake4 cake4 cake4"
    ". . . . . . . . . . . ."
    "cake5 cake5 cake5 cake5 cake5 cake5 cake5 . cake6 cake6 cake6 cake6"
    "cake5 cake5 cake5 cake5 cake5 cake5 cake5 . cake6 cake6 cake6 cake6"
    "cake5 cake5 cake5 cake5 cake5 cake5 cake5 . cake6 cake6 cake6 cake6"
    "cake5 cake5 cake5 cake5 cake5 cake5 cake5 . cake6 cake6 cake6 cake6"
    "cake5 cake5 cake5 cake5 cake5 cake5 cake5 . . . . ."
    ". . . . . . . .                             cake8 cake8 cake8 cake8"
    "cake7 cake7 cake7 cake7 cake7 cake7 cake7 . cake8 cake8 cake8 cake8"
    "cake7 cake7 cake7 cake7 cake7 cake7 cake7 . cake8 cake8 cake8 cake8"
    "cake7 cake7 cake7 cake7 cake7 cake7 cake7 . cake8 cake8 cake8 cake8"
    "cake7 cake7 cake7 cake7 cake7 cake7 cake7 . cake8 cake8 cake8 cake8"
    "cake7 cake7 cake7 cake7 cake7 cake7 cake7 . cake8 cake8 cake8 cake8"
    ". . . . . . . . . . . ."
    "cake9 cake9 cake9 cake9 cake9 . cake10 cake10 cake10 cake10 cake10 cake10"
    "cake9 cake9 cake9 cake9 cake9 . cake10 cake10 cake10 cake10 cake10 cake10"
    "cake9 cake9 cake9 cake9 cake9 . cake10 cake10 cake10 cake10 cake10 cake10"
    "cake9 cake9 cake9 cake9 cake9 . cake10 cake10 cake10 cake10 cake10 cake10"
    "cake9 cake9 cake9 cake9 cake9 . cake10 cake10 cake10 cake10 cake10 cake10"
    "cake9 cake9 cake9 cake9 cake9 . . . . . . ."
    "cake9 cake9 cake9 cake9 cake9 .      cake12 cake12 cake12 cake12 cake12 cake12"
    "cake9 cake9 cake9 cake9 cake9 .      cake12 cake12 cake12 cake12 cake12 cake12"
    ". . . . . .                          cake12 cake12 cake12 cake12 cake12 cake12"
    "cake11 cake11 cake11 cake11 cake11 . cake12 cake12 cake12 cake12 cake12 cake12"
    "cake11 cake11 cake11 cake11 cake11 . cake12 cake12 cake12 cake12 cake12 cake12"
    "cake11 cake11 cake11 cake11 cake11 . cake12 cake12 cake12 cake12 cake12 cake12"
    "cake11 cake11 cake11 cake11 cake11 . cake12 cake12 cake12 cake12 cake12 cake12"
    "cake11 cake11 cake11 cake11 cake11 . cake12 cake12 cake12 cake12 cake12 cake12"


}

.photo-grid div {
  min-height: 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.photo-grid div div {
  height: 100%;
}

.photo-grid div:hover {
  animation: zoom-in 0.2s forwards;
}


.cake1 {
  grid-area: cake1;
  background: url('img/gallery/cake_1.jpg');
}

.cake2 {
  grid-area: cake2;
  background: url('img/gallery/cake_2.jpg');
}

.cake3 {
  grid-area: cake3;
  background: url('img/gallery/cake_3.jpg');
}

.cake4 {
  grid-area: cake4;
  background: url('img/gallery/cake_4.jpg');
}

.cake5 {
  grid-area: cake5;
  background: url('img/gallery/cake_5.jpg');
}

.cake6 {
  grid-area: cake6;
  background: url('img/gallery/cake_6.jpg');
}

.cake7 {
  grid-area: cake7;
  background: url('img/gallery/cake_7.jpg');
}

.cake8 {
  grid-area: cake8;
  background: url('img/gallery/cake_8.jpg');
}

.cake9 {
  grid-area: cake9;
  background: url('img/gallery/cake_9.jpg');
}

.cake10 {
  grid-area: cake10;
  background: url('img/gallery/cake_10.jpg');
}

.cake11 {
  grid-area: cake11;
  background: url('img/gallery/cake_11.jpg');
}

.cake12 {
  grid-area: cake12;
  background: url('img/gallery/cake_12.jpg');
}



#cupcake path:nth-child(3) {
  /*display: none;*/
  animation: scale-up 2s cubic-bezier(0.42, 0, 0.64, 1.26) forwards 3s;
}

#cupcake path:nth-child(2) {
  /*display: none;*/
  animation: scale-up-border 1s cubic-bezier(0.42, 0, 0.75, 1.71) forwards 3s;
}

#cupcake path:nth-child(1) {
  /*display: none;*/
  animation: fade-in 2s ease-out forwards 3s;
}

@keyframes scale-up-border {
  from {
    fill-opacity: 0;
    transform: scale(0.2);
    transform-origin: center;
  }

  to {
    fill-opacity: 1;
    transform: scale(1.0);
    transform-origin: center;
  }
}

@keyframes scale-up {
  from {
    opacity: 0;
    fill: #fff;
    transform: scale(0.2);
    transform-origin: center;
  }

  to {
    opacity: 1;
    fill: #eb8787;
    transform: scale(1.0);
    transform-origin: center;
  }
}

@keyframes fade-in {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    transform: scale(1.0);
    transform-origin: center;
  }

  to {
    transform: scale(1.05);
    transform-origin: center;
  }
}




@media only screen and (min-width: 960px) {
  .head-container h1 {
    font-size: 50px;
  }

  .photo-grid div {
    min-height: 400px;
  }
}