.head-cover {
  background: none;
  background-color: pink;
}

#white-box {
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-40%, -70%);
  width: 542px;
  height: 457px;

  background: #FFFFFF;
}

#quote {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50vw;
  transform: translate(-10%, -50%);

  background: transparent
}

#founder {
  position: absolute;
  top: 80%;
  left: 0%;
  transform: translate(0%, -50%);
}

#founder img {
  height: 90vh;
}

#quote h2 {
  font-family: PT Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 50px;
  line-height: 65px;

}

#quote h3 {
  font-family: PT Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 28px;
  line-height: 0.5em;
  text-transform: unset;
}

#reach-us-photo {
  width: 50vw;
}


.center-content {
  margin-top: 5em;
  text-align: justify;
}

.center-content h3 {
  text-align: left;
}



@media only screen and (max-width: 768px) {



  .head-cover {
    min-height: 50vh;
  }

  #founder {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);

  }

  #founder img {
    height: 35vh;
    border-radius: 10px;
  }


  #white-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 85vw;
    height: 26vh;
    border-radius: 10px;
    z-index: -1;

    background: #EBE6E6;
  }

  #quote {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 80vw;
    height: 20vh;

    background: transparent
  }

  #quote h2 {
    font-size: 18px;
    line-height: 1.0em;
    text-align: center;

  }

  #quote h3 {
    font-size: 11px;
    line-height: 0.95em;
    text-align: center;
    text-transform: unset;
    padding: 0;
    margin: 0;
  }

  .center-content h2:first-of-type {
    display: none;
  }

  .center-content h3 {
    text-align: center;
  }

  #reach-us-photo {
    width: 100vw;
  }

  #reach-us-title {
    display: none;
  }

  #reach-us-title-s {
    text-align: center;
  }

}

@media only screen and (min-width: 768px) {
  #founder {
    margin-left: 9vw;
  }

  .center-content {
    font-size: 24px;
  }

  .center-content h2 {

    font-family: PT Sans;
    font-weight: normal;
    font-size: 50px;
    line-height: 65px;
  }

  #reach-us-title-s {
    display: none;
  }

  #reach-us-title {
    transform: rotate(-90deg);
    font-size: 5rem;
    background-color: #c4c4c4;
    padding: 1rem;
    border-radius: 0.2rem;
  }
}