* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*overflow-x: hidden;*/
}

main {
  font-family: "Heebo", 'sans-serif';
}

ol,
ul {
  padding: 0;
}

.head-cover {
  min-height: 100vh;
  background: url('img/cover/cupcakes.jpg');
  background-size: cover;
  /*padding: 0rem 3rem;*/
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 6vh;
  color: white;
  background-color: #de8f80AA;
  padding: 0rem 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

.nav-links li {
  padding-left: 3rem;
  font-size: 1.2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

#logo {
  font-family: 'Lobster', 'Cursive';
  font-weight: lighter;
  font-size: 2rem;
  margin: auto;
  margin-left: 1rem;
}

.hamburger {
  display: none;
}

h2.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-family: 'Lobster', 'Cursive';
  font-size: 5rem;
}

.intro {
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

}

.slider {
  position: fixed;
  background: rgb(233, 108, 108);
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  transform: translateY(100%);
  z-index: 4;
}

.intro-text {
  color: aliceblue;
  font-family: 'Heebo', 'sans-serif';
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}



#our-story-btn:hover {
  color: white;
  background: #c68579;
}



@media only screen and (max-width: 768px) {

  /* * {
    max-width: 100vw;
    overflow-x: hidden;
  }*/

  .intro-text {
    color: aliceblue;
    font-family: 'Heebo', 'sans-serif';
    font-size: 0.7rem;
    line-height: 0.5;
  }

  .intro-text h1 {
    margin: 0;
  }

  .hide span {
    /* padding: 0.5rem 1rem;*/
    font-size: 1rem;
  }

  .head-cover {
    min-height: 100vh;
    min-width: 100vw;
    background: url('img/cover/cupcakes_vertical.jpg');
    background-size: cover;
    background-position: center;
    /*padding: 0rem 3rem;*/
  }

  nav {
    padding: 0;
    position: relative;
  }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  nav #logo {
    padding: 0.5rem;
  }

  .nav-links {
    flex-direction: column;
    background: #910045A5;
    height: 110vh;
    padding-top: 2rem;
    width: 100vw;
    transform: translate(0%, 40%);
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    /*display: none;*/
  }

  .nav-links.open {
    clip-path: circle(1500px at 90% 10%);
    -webkit-clip-path: circle(1500px at 90% 10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
    padding: 0 !important;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.1s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.3s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.5s;
  }

  li.fade {
    opacity: 1 !important;
  }

  .logo-text {
    text-align: center !important;
  }
}